.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hdr-srch-btn {
    background-color: #000945;
    color: aliceblue;
    transition-duration: 300ms;
}

.hdr-srch-btn:hover {
    background-color: #15289F;
    color: aliceblue;
}

.header {
    border: solid #DCDCDC 1px;
}

.nav-link {
    color: #111111;
    font-weight: 600;
}

.current-nav-link {
    color: #485EE8;
}

.navbar-nav {
    display: flex;
    gap: 8px;
    margin-left: 40px;
}

.header-title {
    font-size: 28px;
    font-weight: 700;
}

.header-title-accent {

}